html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}

footer {
    padding: 30px 0;
}

body {
    padding-top: 70px;
    padding-bottom: 20px;
}

.jumbotron {
    margin: 40px 0px 10px 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.jumbotron h1 {
    font-size: 80px;
    line-height: 1;
}

.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.row h2 {
    font-weight: bold;
}

.col-md-3 .btn {
    padding: 5px 60px;
}

.well {
    background-color: #e3f6ce;
}
/*
 * Off Canvas
 */
@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right
    .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left
    .sidebar-offcanvas {
        left: -50%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 50%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
    }
}
